<div class="flex">
  <app-navbar></app-navbar>
  <div class="flex flex-col w-full">
    <header class="flex h-12 w-full bg-blue-800">
      <h2 class="text-white text-2xl m-auto">Projetos</h2>
    </header>
    <div class="flex flex-col w-full px-24">
      <div class="flex w-full gap-4 py-16">
        <label class="text-2xl w-auto whitespace-nowrap">
          Pesquisar cadastrados
        </label>
        <div class="flex my-auto w-full border border-blue-300 py-1 rounded px-2">
          <input [(ngModel)]="searchTerm" class="w-full border-0 focus:outline-none" />
          <mat-icon>search</mat-icon>
        </div>
        <button (click)="novoProjeto()"
          class="bg-green-600 cursor-pointer py-1 px-6 rounded-lg text-white whitespace-nowrap">
          + Novo
        </button>
      </div>
      <div class="h-96 max-h-96 overflow-auto w-full">
        <table class="w-[calc(100%-50px)]" *ngIf="projects.length > 1">
          <thead>
            <tr>
              <th class="text-left pb-2 pl-2">ID</th>
              <th class="text-left pb-2">Título</th>
              <th class="text-left pb-2">Data de criação</th>
              <th class="text-left pb-2">Data de entrega</th>
              <th class="text-center pb-2 w-16">Editar</th>
              <th class="text-center pb-2 w-16">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let project of filteredProjects">
              <tr class="odd:bg-gray-200 even:bg-white">
                <td (click)="toggleDetails(project.projectId)" class="cursor-pointer pl-2 py-2">{{ project.projectId }}
                </td>
                <td (click)="toggleDetails(project.projectId)" class="cursor-pointer py-2">{{ project.title }}</td>
                <td (click)="toggleDetails(project.projectId)" class="cursor-pointer py-2">{{ project.createdDate |
                  date:'dd/MM/yyyy' }}</td>
                <td (click)="toggleDetails(project.projectId)" class="cursor-pointer py-2">{{ project.deadline |
                  date:'dd/MM/yyyy' }}</td>
                <td class="text-blue-800 py-2 text-center">
                  <span class="cursor-pointer">
                    <mat-icon (click)="editProject(project)">edit</mat-icon>
                  </span>
                </td>
                <td class="text-red-700 py-2 text-center ">
                  <span class="cursor-pointer">
                    <mat-icon (click)="deleteProject(project.projectId)">delete</mat-icon>
                  </span>
                </td>
              </tr>

              <tr *ngIf="expandedProjectId === project.projectId" class="bg-gray-50">
                <td colspan="6" class="px-4 pb-4 pt-0">
                  <div class="text-sm text-gray-600">
                    <p><strong>Descrição:</strong> {{ project.description }}</p>
                    <p><strong>Status:</strong> {{ project.status }}</p>
                    <p><strong>Orçamento:</strong> {{ project.budget | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</p>
                    <p><strong>Skills:</strong> {{project.skillsRequired}}</p>

                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedProject" class="fixed inset-0 z-50 bg-black bg-opacity-50 flex">
  <div class="bg-white w-[60%] h-[70vh] m-auto rounded-2xl">
    <div class="bg-blue-800 h-24 flex rounded-t-2xl">
      <h3 class="text-white text-3xl m-auto">{{ selectedProject.projectId ? 'Editar' : 'Novo Projeto' }}</h3>
    </div>
    <form (ngSubmit)="saveProject()" #form="ngForm" class="flex flex-col gap-2 w-full px-8 pt-4">
      <div class="flex w-full gap-4">
        <label class="flex flex-col w-[33%] text-gray-700 text-sm">
          Título
          <input [(ngModel)]="selectedProject.title" [readonly]="selectedProject.projectId" maxlength="50" name="title"
            required class="border border-gray-700 rounded xl px-2 py-1 text-black text-base" />
        </label>
        <label class="flex flex-col w-[33%] text-gray-700 text-sm">
          Prazo
          <input type="date" name="deadline" [(ngModel)]="selectedProject.deadline" required #deadline="ngModel"
            class="border border-gray-700 rounded xl px-2 py-1 text-black text-base" />
        </label>
        <label class="flex flex-col w-[33%] text-gray-700 text-sm">
          Orçamento
          <input type="number" [(ngModel)]="selectedProject.budget" name="budget" required
            class="border border-gray-700 rounded xl px-2 py-1 text-black text-base" />
        </label>
      </div>
      <label class="flex flex-col w-full text-gray-700 text-sm">
        Descrição
        <textarea [(ngModel)]="selectedProject.description" name="description"
          class="border border-gray-700 rounded xl px-2 py-1 text-black text-base resize-none" required></textarea>
      </label>
      <div class="flex w-full gap-4">
        <label class="flex flex-col w-[70%] text-gray-700 text-sm">
          Skills
          <input [(ngModel)]="selectedProject.skillsRequired" name="skills"
            class="border border-gray-700 rounded xl px-2 py-1 text-black text-base" />
        </label>
        <label class="flex flex-col w-[30%] text-gray-700 text-sm">
          Status
          <select [(ngModel)]="selectedProject.status" name="status"
            class="border border-gray-700 rounded xl px-2 py-1 text-black text-base w-full">
            <option value="" disabled selected></option>
            <option value="Pendente">Pendente</option>
            <option value="Em Andamento">Em Andamento</option>
            <option value="Concluído">Concluído</option>
          </select>
        </label>
      </div>
      <div class="flex mt-12 justify-center gap-4">
        <button type="submit"
          class="bg-green-600 text-white flex items-center justify-center py-1 px-4 rounded-lg text-sm gap-2 cursor-pointer"><mat-icon>save</mat-icon>
          Salvar</button>
        <button type="button" (click)="selectedProject = null"
          class="bg-gray-700 text-white flex items-center justify-center py-1 px-4 rounded-lg text-sm gap-2 cursor-pointer"><mat-icon>save</mat-icon>
          Cancelar</button>
      </div>
    </form>
  </div>
</div>